.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
}

.container {
  height: calc(100vh - 116px);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  width: 100%;
}

.close {
  position: absolute;
  top: 38px;
  left: 40px;
  z-index: 20;
}

.scroll {
  overflow-x: scroll;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.box {
  margin-bottom: 24px;
}

.box h4 {
  margin-bottom: 16px;
  padding: 0 40px;
  font-size: 1.6rem;
}

.box__items {
  display: flex;
  align-items: center;
  margin-bottom: -4px;
  margin-top: -10px;
  overflow-x: scroll;
  padding: 10px 20px 4px;
  scroll-snap-type: x;
  width: 100vw;
  gap: 10px;
  scrollbar-width: none;
  scroll-padding-left: 20px;
  scroll-padding-right: 20px;
  flex-direction: row;
  opacity: 1;
}

.box__items__item {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: calc(-20px + 33.3333vw);
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  width: 100%;
  position: relative;
  z-index: 10;
}

.section button {
  position: absolute;
  left: 4rem;
}

@media (min-width: 768px) {
  .box__items__item {
    width: calc(-20px + 25vw);
  }
}
