.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    180deg,
    hsl(235deg 83% 16%) 0%,
    hsl(235deg 79% 15%) 23%,
    hsl(237deg 74% 14%) 33%,
    hsl(239deg 68% 13%) 41%,
    hsl(244deg 68% 12%) 49%,
    hsl(248deg 70% 10%) 56%,
    hsl(251deg 72% 9%) 63%,
    hsl(254deg 75% 8%) 71%,
    hsl(254deg 78% 6%) 80%,
    hsl(251deg 84% 5%) 100%
  );

  color: rgb(255, 255, 255);
}

.container:after {
  content: "";
  background: linear-gradient(
    rgba(0, 0, 0, 0.55) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.45) 50%,
    rgba(0, 0, 0, 0.25) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  inset: 0px;
  height: 120px;
  width: 100%;
  pointer-events: none;
  position: fixed;
  z-index: 9;
}

.header {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0) 0px 8px 24px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  width: 100vw;
  z-index: 10;
  padding: 0 40px;
}

.logo img {
  height: 24px;
  z-index: 1;
  position: relative;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 2.6rem;
}

.title {
  font-size: 2.4rem;
}

.login {
  background-color: rgba(222, 222, 222, 0.06);
  padding: 5rem 4rem;
  border-radius: 0.7rem;
  width: 50.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.description {
  font-size: 1.6rem;
}

.btnContainer {
  display: flex;
  justify-content: flex-start;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon button {
  position: absolute;
  right: 1rem;
  top: 42%;
  width: 3.6rem;
  height: 3.6rem;
  border: none;
  background: none;
  cursor: pointer;
}

.inputWithIcon button svg {
  fill: #fff;
}
