

.header {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0) 0px 8px 24px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  width: 100vw;
  z-index: 10;
  padding: 0 40px;
}

.logo img {
  height: 24px;
  z-index: 1;
  position: relative;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 2.6rem;
}

.title {
  font-size: 2.4rem;
}

.login {
  background-color: rgba(222, 222, 222, 0.06);
  padding: 5rem 4rem;
  border-radius: 0.7rem;
  width: 50.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.description {
  font-size: 1.6rem;
}

.btnContainer {
  display: flex;
  justify-content: flex-start;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon button {
  position: absolute;
  right: 1rem;
  top: 42%;
  width: 3.6rem;
  height: 3.6rem;
  border: none;
  background: none;
  cursor: pointer;
}

.inputWithIcon button svg {
  fill: #fff;
}

.langMenu {
  position: relative;
}

.langMenu button {
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7.9rem;
  display: flex;
  justify-content: center;
  border-radius: .5rem;
}

.langMenu button:hover {
  background-color: rgba(134, 151, 206, 0.3);
}


.langOptions {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  position: absolute;
  margin-top: .5rem;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  text-align: center;
  background-color: rgba(134, 151, 206, 0.3);
  border-radius: .5rem;
}

.langOptions > * {
  padding: 1rem;
  cursor: pointer;

}

.langOptions > *:hover {
  background-color: rgba(134, 151, 206, 0.5);
  transition: .4s ease-in-out;
}

.langOptions :nth-child(1):hover {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}
.langOptions :nth-child(2):hover {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

@keyframes slide-top {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}