

.header {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0) 0px 8px 24px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  width: 100vw;
  z-index: 10;
  padding: 0 40px;
}

.logo img {
  height: 24px;
  z-index: 1;
  position: relative;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 2.6rem;
}

.title {
  font-size: 2.4rem;
}

.login {
  background-color: rgba(222, 222, 222, 0.06);
  padding: 5rem 4rem;
  border-radius: 0.7rem;
  width: 50.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.description {
  font-size: 1.6rem;
}

.btnContainer {
  display: flex;
  justify-content: flex-start;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon button {
  position: absolute;
  right: 1rem;
  top: 42%;
  width: 3.6rem;
  height: 3.6rem;
  border: none;
  background: none;
  cursor: pointer;
}

.inputWithIcon button svg {
  fill: #fff;
}
